{% extends "base.html" %}
<!DOCTYPE html>
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href='/static/compare.css'>
{% endblock head%}

{% block content %}
<br>


hqfemhdjvwekjfmwjfejmr
<div class="tab">
  {% for salary in salaries %}

  <button class="tablinks active" onclick="openCity(event, '{{salary.name}}')">{{salary.name}}</button>
  {% endfor %}
</div>
<div>

{% for salary in salaries %}
<br><br>
<label for="fname">name:</label>
<input type="text" id="name" name="name" value="{{salary.name}}" readonly ><br><br>
<label for="fname">salary:</label>
<input type="number" id="salary" name="salary" value={{salary.salary}} readonly ><br><br>
  <label for="fname">salary_net:</label>
<input type="number" id="salary_net" name="salary_net" value={{salary.salary_net}} readonly ><br><br>
  <label for="fname">day_hours:</label>
<input type="number" id="day_hours" name="day_hours" value={{salary.day_hours}} readonly ><br><br>
  <label for="fname">vacation_days:</label>
<input type="number" id="vacation_days" name="vacation_days" value={{salary.vacation_days}} readonly ><br><br>
    <label for="fname">travel_time:</label>
<input type="number" id="travel_time" name="travel_time" value={{salary.travel_time}} readonly ><br><br>
    <label for="fname">sickdays_value:</label>
    <input type="text" id="sickdays_value" name="sickdays_value" value="{{salary.sickdays_value}}" readonly ><br><br>
    <label for="fname">pension:</label>
<input type="number" id="pension" name="pension" value={{salary.pension}} readonly ><br><br>
    <label for="fname">pitzuim:</label>
<input type="number" id="pitzuim" name="pitzuim" value={{salary.pitzuim}} readonly ><br><br>
    <label for="fname">hishtalmut:</label>
<input type="number" id="hishtalmut" name="hishtalmut" value={{salary.hishtalmut}} readonly ><br><br>
    <label for="fname">nesiot_income:</label>
<input type="number" id="nesiot_income" name="nesiot_income" value={{salary.nesiot_income}} readonly ><br><br>
    <label for="fname">gas_cost:</label>
<input type="number" id="gas_cost" name="gas_cost" value={{salary.gas_cost}} readonly ><br><br>
    <label for="fname">lunch:</label>
<input type="number" id="lunch" name="lunch" value={{salary.lunch}} readonly ><br><br>
    <label for="fname">holidays_like_friday:</label>
<input type="text" id="holidays_like_friday" name="holidays_like_friday" value="{{salary.holidays_like_friday}}" readonly ><br><br>
    <label for="fname">chol_hamoed:</label>
<input type="number" id="chol_hamoed" name="chol_hamoed" value={{salary.chol_hamoed}} readonly ><br><br>
<label for="fname">parking:</label>
<input type="number" id="parking" name="parking" value={{salary.parking}} readonly ><br><br>
<label for="fname">flexable_hours:</label>
<input type="text" id="flexable_hours" name="flexable_hours" value="{{salary.flexable_hours}}" readonly ><br><br>
<label for="fname">minimum_hours_aday:</label>
<input type="number" id="minimum_hours_aday" name="minimum_hours_aday" value={{salary.minimum_hours_aday}} readonly ><br><br>

</div>
  {% endfor %}
<script>

// function openCity(evt, cityName) {
//   var i, tabcontent, tablinks;
//   tabcontent = document.getElementsByClassName("tabcontent");
//   for (i = 0; i < tabcontent.length; i++) {
//     tabcontent[i].style.display = "none";
//   }
//   tablinks = document.getElementsByClassName("tablinks");
//   for (i = 0; i < tablinks.length; i++) {
//     tablinks[i].className = tablinks[i].className.replace(" active", "");
//   }
//   document.getElementById(cityName).style.display = "block";
//   evt.currentTarget.className += " active";
// }
</script>
<br><br>

{% endblock content %}
